<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="caixa">

        <h1>Login</h1>

        <form method="POST">

            <label>Usuário</label><br>
            <input type="text" name="usuario"><br><br>

            <label>Senha</label><br>
            <input type="password" name="senha"><br><br>

            <button type="submit">Entrar</button>

        </form>

        <p>{{ mensagem }}</p>

    </div>

</body>
</html>